### Objectif :

Créer un pipeline de données de bout en bout pour collecter, transformer, stocker et visualiser les données de ventes d'une plateforme e-commerce, permettant aux équipes marketing et produit d'obtenir des insights en temps réel.

#### Simulation des données :

In [3]:
import pandas as pd
import random
from faker import Faker

In [4]:
faker = Faker()

data = {
    "transaction_id": [i for i in range(1, 1001)],
    "customer_id": [random.randint(1, 100) for _ in range(1000)],
    "product": [faker.word() for _ in range(1000)],
    "category": [random.choice(["Electronics", "Clothing", "Books", "Toys"]) for _ in range(1000)],
    "amount": [round(random.uniform(10, 500), 2) for _ in range(1000)],
    "region": [random.choice(["North", "South", "East", "West"]) for _ in range(1000)],
    "date": [faker.date_between(start_date="-1y", end_date="today") for _ in range(1000)],
}
df = pd.DataFrame(data)
df.head(2)

   transaction_id  customer_id  product  category  amount region        date
0               1           50    prove     Books   96.02  North  2023-12-19
1               2           11  realize  Clothing  362.47   East  2024-10-27